* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav para todos*/

header{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: #6495ED;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        .logo{
            padding: 10px;
        }
        .menu{

            display: flex;
            list-style: none;  
            padding: 10px;
            .h{
                a{
                    color: black;
                    text-decoration: none;
                    padding: 0.7rem;
                }
                :hover{
                    background-color:black;
                    color: aqua;
                    border-radius: 20px;
                }

            }
            .g{
                a{
                    color: black;
                    text-decoration: none;
                    padding: 0.7rem;
                }
                :hover{
                    background-color:black;
                    color: aqua;
                    border-radius: 20px;
                }
            }
            .c{
                a{
                    color: black;
                    text-decoration: none;
                    padding: 0.7rem;
                }
                :hover{
                    background-color:black;
                    color: aqua;
                    border-radius: 20px;
                }
            }
        }
    
                
    }
}

/* index */

.main-index{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    
}

/* galeria */

.body-gal{
    background-color:aqua;
    height: 100%;
    .gal{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .card{
        margin: 1rem;
        }
        .card-body{
        text-align: center;
        }
        .card-text{
        margin: 0;
        padding: 0;
        }
    }
}


/* pag 3 y 4*/

h1{
    margin: 60px;
    text-align: center;
}

.main-pag{
    background-color: lightblue;
    font-family: helvetica;
    p{
        margin: 100px;
        text-align: justify;
        
    }
}

/* contacto */

.contacto{
    height: 100%;
    background-color: lightblue;
    font-size: xx-large;
}

form{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: white;
    margin: 0 auto;
    width: 600px;    
    padding: 15px;
    border-radius: 5px;   
    form input{
        display: block;
        border-radius: 3px;
    }

}

/* FOOTER */

.footer{
    padding: 20px;
    height: 60px;
    background: linear-gradient(#0101b3, navy, #0101b3);
}









